.Textklein {
    color: blueviolet;
    font-size: 200%;
    font-family: monospace;
    text-align: center;
}
.Titel {
    color: blueviolet;
    font-size: 400%;
    font-family: monospace;
    text-align: center;
}
